/* HEADER */
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  z-index: 1500;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px; 
  min-width: 200px;
  margin-right: 30px;
  flex-shrink: 0;
}

.menu-icon:hover {
  opacity: 0.7;
}

.menu-icon:active{
  opacity: 0.4;
}

.logo-icon {
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  font-family: 'Arial Black', Arial, sans-serif;
  white-space: nowrap;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 16px;
}
.nav-links ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0 5px;
  transition: 0.s;
}

.nav-links ul li a:hover {
  border-bottom: 2px solid #6495ed;
}

.nav-links ul li a:active {
  border-bottom: 2px solid #6495ed;
  opacity: 0.4;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #6495ed;
  border-radius: 20px;
  padding: 5px 10px;
}

.search-form input[type="search"] {
  border: none;
  background: transparent;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  outline: none;
  width: 150px;
  border-radius: 20px;
}

.search-form button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.search-form button i.fa-search {
  pointer-events: none;
}

/* RESPONSIVE FIXES */

@media (max-width: 768px) {

  .nav-links ul {
    justify-content: center;
  }
  
  .content-row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .search-form input[type="search"] {
    width: 100px;
  }
  .header-right {
    gap: 10px;
  }
}