/* MENU ICON */
.menu-icon {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;         
  width: 250px;
  height: 100vh;
  background-color: #6495ed;
  color: white;
  padding-top: 60px;
  box-sizing: border-box;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 2000;
}

.sidebar.active {
 left: 0; 
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #6495ed;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #6495ed;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1700;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}
